* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 calc(50% - 570px);
}

.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;

}

.logo {
    display: inline-block;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    line-height: 51px;
    width: 165px;
    padding-left: 72px;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-transform: uppercase;
    color: #222222;
    box-sizing: border-box;
    margin-right: 40px;
}

.style__D {
    font-weight: 900;
    color: #f16d7f;
}

.search__form {
    display: flex;
    align-items: center;
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    height: 38px;
    overflow: hidden;

}

.search_btn {
    padding: 0px 9px 0px 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.35px;
    color: #222222;
    border: none;
    border-right: 1px solid #e6e6e6;
    outline: none;
}

.fa-caret-down {
    color: #838383;
    margin-left: 3px;
}

.input_search {
    width: 279px;
    height: inherit;
    border: none;
    outline: none;
    padding: 0px 16px;
}

.searchBtn {
    height: inherit;
    border: none;
    border-left: 1px solid #e6e6e6;
    background: none;
    padding: 12px;
}

.fa-search {
    color: #a4a4a4;
}

.headerCart {
    margin-top: 8px;
    margin-right: 24px;
    margin-left: auto;
}

.accountBtn {
    font-size: 15px;
    line-height: 38px;
    letter-spacing: 0.38px;
    color: #ffffff;
    padding: 0 12px 0 19px;
    background-color: #f16d7f;
    border: none;
}

.accountBtn i {
    color: #ffffff;
}

/* меню навигации */

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.navigation a {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation a:not(:last-child) {
    margin-right: 45px;
}

/* Начало первого слайда */

.slider_1 {
    height: 614px;
    background-color: #e8e8e8;
    background-image: url(img/promo_back.png);
    background-repeat: no-repeat;
    background-position: 50% -51px;
    box-sizing: border-box;
}

.slider_1__content {
    margin-top: 224px;
    float: left;
    border-left: 12px solid rgba(241, 109, 127, 1);
    padding-left: 12px;
}

.slider_1__h1 {
    font-size: 60px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    line-height: 45px;
    margin-bottom: 12px;
}

.slider_1__h2 {
    font-size: 40px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    line-height: 33px;
}

.fashion {
    color: #f16d7f;
}

/* Начало второго слайда */

.slider_2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 923px;
    box-sizing: border-box;
    padding-top: 98px;
}

.slider_2_pict_1,
.slider_2_pict_2,
.slider_2_pict_3,
.slider_2_pict_4 {
    width: 560px;
}

.slider_2_pict_1 {
    height: 542px;
    background-image: url(img/for_men.png);
}

.slider_2_pict_2 {
    height: 261px;
    background-image: url(img/accesories.png);
}

.slider_2_pict_3 {
    height: 261px;
    background-image: url(img/women.png);
}

.slider_2_pict_4 {
    height: 542px;
    background-image: url(img/for_kids.png);
}

.slider_2_content {
    background-color: #ffffff;
    margin-top: 26px;
    padding: 16px 19px;
    float: left;
}

.slider_2_content_h3 {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.45px;
    color: #222222;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 6px;
}

.slider_2_content_h2 {
    font-size: 30px;
    letter-spacing: 0.75px;
    color: #f16d7f;
    text-transform: uppercase;
    line-height: 1;
}

/* Начало третьего слайда */

.slider_3 {
    height: 1195px;
    box-sizing: border-box;
    padding-top: 100px;
}

.slider_3_content {
    height: 767px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.slider_3_h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #222222;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.slider_3_p {
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
}

.slider_3_card {
    width: 261px;
    height: 364px;
    /* outline: 1px solid #000; */
    position: relative;
}

.slider_3_card:hover {
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.slider_3_card_h3 {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.slider_3_card_p {
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    line-height: 1;
    margin-left: 8px;
}

.slider_3_btn_box {
    margin-top: 73px;
    text-align: center;
}

.slider_3_btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #ffffff;
    background-color: #f16d7f;
    padding: 17px 24px;
    line-height: 1;
}

.fa-long-arrow-alt-right {
    margin-left: 7px;
}

/* Начало четвертого слайда */

.slider_4 {
    height: 529px;
    display: flex;
    margin-bottom: 97px;
}

.slider_4_offer {
    width: 767px;
    height: 529px;
    background-image: url(img/offer.png);
}

.slider_4_offer_text {
    padding-top: 131px;
    padding-left: 39px;
}

.slider_4_offer_text h2 {
    font-size: 53.5px;
    letter-spacing: 1.34px;
    font-weight: bold;
    color: #ffffff;
}

.offer_style {
    color: #f16d7f;
}

.slider_4_offer_text h3 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffffff;
}

.slider_4_icons_box {
    width: 114px;
    box-sizing: border-box;
    padding-left: 36px;
    background-color: #222224;
}

.slider_4_icon {
    display: block;
}

.slider_4_icon_1 {
    margin-top: 48px;
}

.slider_4_icon_2 {
    margin-top: 124px;
}

.slider_4_icon_3 {
    margin-top: 114px;
}

.slider_4_text {
    width: 261px;
    background-color: #222224;
    box-sizing: border-box;
    padding-right: 40px;
}

.slider_4_text h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #fbfbfb;
}

.slider_4_text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: #fbfbfb;
}

.slider_4_text_h2-1 {
    margin-top: 55px;
}

.slider_4_text_h2-2 {
    margin-top: 62px;
}

.slider_4_text_h2-3 {
    margin-top: 61px;
}

.slider_4_text_p {
    margin-top: 17px;
}

/* Начало пятого слайда */

.slider_5 {
    display: flex;
    height: 438px;
    background-image: url(img/surfer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e8e8e8;
    box-sizing: border-box;
    padding-top: 110px;
}

.slider_5_left {
    display: flex;
    width: 50%;
}

.slider_5_face {
    width: 83px;
    height: 83px;
    background-image: url(img/face.png);
    border-radius: 50%;
}

.slider_5_text {
    width: 390px;
    margin-left: 28px;
    margin-top: 5px;
}

.slider_5_text p:nth-child(1) {

    font-size: 16px;
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    color: #222224;
}

.slider_5_text p:nth-child(2) {
    margin-top: 19px;

    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    letter-spacing: 0.4px;
    color: #f16d7f;
}

.slider_5_text p:nth-child(3) {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #222224;
}

.slider_5_right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.slider_5_right h3 {
    margin-top: 35px;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 1;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.slider_5_right p {
    margin-top: 9px;
    font-size: 14px;
    letter-spacing: 0.35px;
    text-align: center;
    color: #222224;
}

.slider_5_right form {
    margin-top: 35px;
    display: flex;
    align-items: center;
    width: 388px;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    overflow: hidden;
}

.subscribre__Field {
    width: 222px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.35px;
    color: rgba(34, 34, 36, 0.67);
    border: none;
    background: transparent;
    padding: 0 28px 0 28px;
    outline: none;
}


.subscribre__Btn {
    font-size: 15px;
    line-height: 46px;
    letter-spacing: 0.38px;
    color: #ffffff;
    padding: 0 20px 0 20px;
    background-color: #f16d7f;
    border: none;
    outline: none;
}

/* Начало шестого слайда */

.slider_6 {
    display: flex;

    height: 458px;
    box-sizing: border-box;
    padding-top: 109px;
}

.logo_bottom {
    display: inline-block;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    line-height: 51px;
    width: 165px;
    padding-left: 72px;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-transform: uppercase;
    color: #222222;
    box-sizing: border-box;
}

.slider_6_col_1 {
    width: 427px;
}

.slider_6_col_2 {
    padding-left: 64px;
}
.slider_6_col_3 {
    padding-left: 129px;
}
.slider_6_col_4 {
    padding-left: 80px;
}

.slider_6_h3 {
    margin-bottom: 45px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.45px;
    color: #f16d7f;
}

.slider_6_p {
    margin-top: 29px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: #898989;
}

.slider_6_links {
    font-size: 16px;
    line-height: 2.63;
    letter-spacing: 0.4px;
    color: #898989;
}

.slider_6_list {
    list-style-type: none;
}
